/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.employee-table {
  width: 90% !important;
  margin: auto;
}

.employee-create-form {
  width: 60% !important;
  margin: auto;
  padding: 1em;
  border-radius: 14px;
  box-shadow: 11px 11px 22px #cacaca, -11px -11px 22px #f6f6f6;
}

.employee-radio-btn {
  display: flex;
  gap: 15px;
}

.employee-radio-btn input {
  cursor: pointer;
}

.btn-add {
  display: flex;
  justify-content: end;
  margin: 1rem 0;
}

.search-emp {
  width: 30% !important;
}
